/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/sitemap.xml
/public/models-sitemap.xml
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
composer.lock
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
stats.html
/.fleet
/.idea
/.vscode
/shared_folder
